# Groq API keys (you can add up to 7, fallback logic will rotate)
GROQ_API_KEY_1=
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GROQ_API_KEY_4=
GROQ_API_KEY_5=
GROQ_API_KEY_6=
GROQ_API_KEY_7=
# System Prompt File
SYSTEM_PROMPT_FILE=system_prompt.txt

# Comma-separated list of Instagram usernames to ignore messages from (e.g. user1,user2)
IGNORED_USERNAMES= #leave empty if you don't wanna use it

# Your own Instagram username — only you can trigger relay commands
OWNER_USERNAME=ilickft

# 1 = cookies login
# 2 = username and password login
LOGIN_METHOD=1
IG_USERNAME=
IG_PASSWORD=